<!DOCTYPE html>
<html>
<head>
    <title>Content page 1</title>
</head>

<body>
    <form method="POST" th:action="@{/tools/create}">
        <td>
            <input id="name" name="name" class="form-control" type="text" required>
        </td>
        <td>
            <select id="type" name="type" class="form-control" style='width: 100%;' required>
                <option th:each="typeOpt : ${T(ch.hearc.stockarc.model.Tool.Type).values()}"
                th:value="${typeOpt}" th:text="${typeOpt}"></option>
            </select>
        </td>
        <td>
            <input id="quantity" name="quantity" class="form-control" type="number" value="1">
        </td>
        <td><input class="form-control btn btn-primary" type="submit" value="Add"></td>
    </form>

</body>

</html>