<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{Layout}">

<head>
    <title>Content page 1</title>
</head>

<body>
    <section layout:fragment="content" class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="container">
                    <h1 class="mt-3">Rent</h1>
                    <p class="lead">Here you can register new rent for the tools.</p>
                </div>
                <div class="card">
                    <div class="card-header">Daily locations list</div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Created at</th>
                                        <th>Tool</th>
                                        <th>Quantity</th>
                                        <th>Person</th>
                                        <th>Is over</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="rent: ${rents}">
                                        <td th:text="${#dates.format(rent.createdAt, 'dd MMMM yyyy HH:mm')}"></td>
                                        <td th:text="${rent.tool.name}"></td>
                                        <td th:text="${rent.quantity}"></td>
                                        <td th:text="${rent.person.name}"></td>
                                        <td th:text="${rent.isOver}"></td>
                                        <td>
                                            <form method="POST" action="">
                                                <input type="hidden" id="isOver" name="isOver" value="true">
                                                <button type="submit" class="form-control btn btn-success"
                                                    th:disabled="${rent.isOver == true}">Over</button>
                                            </form>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card mt-5">
                    <div class="card-header">Always opened and old locations list</div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Created at</th>
                                        <th>Tool</th>
                                        <th>Quantity</th>
                                        <th>Person</th>
                                        <th>Is over</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="rent: ${rentsNotOver}">
                                        <td th:text="${#dates.format(rent.createdAt, 'dd MMMM yyyy HH:mm')}"></td>
                                        <td th:text="${rent.tool.name}"></td>
                                        <td th:text="${rent.quantity}"></td>
                                        <td th:text="${rent.person.name}"></td>
                                        <td th:text="${rent.isOver == true}"></td>
                                        <td>
                                            <form method="POST" action="">
                                                <input type="hidden" id="isOver" name="isOver" value="true">
                                                <button type="submit" class="form-control btn btn-success"
                                                    th:disabled="${rent.isOver == true}">Over</button>
                                            </form>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>