<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{Layout}">

<head>
	<title>Login</title>
</head>

<body>
	<section class="container pt-5" layout:fragment="content">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h5 class="text-center" style="font-size: 25px">Forgot password</h5>
					</div>

					<div class="card-body">
						<div class="alert m-0 rounded-0 alert-danger" th:if="${param.error}">
							Name or Password is incorrect. Please check
							again!
						</div>
						<form th:action="@{/users/resetPassword}" method="POST">
							<div class="form-group">
								<label for="email">Email: </label>
								<input type="text" class="form-control" id="email" placeholder="Enter email"
									name="email" required/>
							</div>
							<button type="submit" class="btn btn-primary btn-block">Request reset password</button>
						</form>
					</div>
				</div>
			</div>
	</section>
</body>