<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Welcome Security with Spring Boot!</title>
</head>
<body>
	<h1>Hello, the page is for Admin!</h1>
	<a style="color: blue" th:href="@{/}">Home</a>
	<div class="card-body">
		<table class="table">
			 <thead>
			  <tr>
			    <th scope="col">Nom</th>
			    <th scope="col">Quantité</th>
			  </tr>
			</thead>
			<tbody>
			  <tr th:each="tool: ${tools}">
			      <td th:text="${tool.name}" />
			      <td th:text="${tool.quantity}" />
			  </tr>
			</tbody>
		</table>
	 </div>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
</body>
</html>