<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title>Update your password</title>
</head>

<body>
    <section class="container pt-5" layout:fragment="content" sec:authorize="hasAuthority('CHANGE_ACCOUNT_PRIVILEGE')">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center" style="font-size: 25px">Create your account</h5>
                    </div>

                    <div class="card-body">
                        <form th:action="@{/users/updateAccount}" method="post">
                            <h3>Password creation</h3>
                            <div class="form-group">
                                <label for="username">New password</label>
                                <input type="password" class="form-control" id="newPassword"
                                    placeholder="Enter password" name="newPassword" required />
                            </div>
                            <div class="form-group">
                                <label for="password">Verify password</label>
                                <input type="password" class="form-control" id="matchPassword"
                                    placeholder="Confirm Password" name="matchPassword" required>
                            </div>
                            <h3>Personnal data</h3>
                            <div class="form-group">
                                <label for="password">Full name</label>
                                <input type="text" class="form-control" id="name"
                                    placeholder="Your name" name="name" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Create your account</button>
                        </form>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>