<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    
</head>
<body onload="setInterval(checkNotification, 2000);">
	<li class="nav-item dropdown">
	    <a id="navbarDropdown_notif" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
	        aria-haspopup="true" aria-expanded="false" th:text="notifications" onclick="clickOnNotif();">
	        <span class="caret"></span>
	    </a>
	
	    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
	    <ul id="Notifications" style="font-size:1em;list-style:none;">
	    </ul>
	    </div>
	</li>
</body>
<script type="text/javascript">
function checkNotification()
{
	$.ajax({
		url: "/Notification/getNotif",
		type: "GET",
		success: function(response)
		{
			var array = response.split(',');
			var notiflist = document.getElementById("Notifications");
			var mainButton = document.getElementById("navbarDropdown_notif");
			notiflist.textContent = '';
			mainButton.className = "nav-link dropdown-toggle";
			if(array.length < 2)
				{
					return;
				}
			for(var i = 0; i<array.length; i+=2)
				{
				console.log(array.length);
				if(array[i+1] == "false")
					{
					mainButton.className = "bg-secondary text-white nav-link dropdown-toggle";
					}
				notiflist.appendChild(newLi(array[i], array[i+1]));
				}
		},
		error: function(data)
		{
			window.alert("No notification found!");
		}
	});
}

function newLi(text, isRead)
{
	var newli = document.createElement("li");
	newli.appendChild(document.createTextNode(text));
	if(isRead == "true")
		{
		newli.className += "text-secondary";
		}
	else
		{
		newli.className += "text-primary";
		}
	return newli;
}

function clickOnNotif()
{
	$.ajax({
		url: "/Notification/readNotif",
		type: "GET",
		success: function(response)
		{
			checkNotification();
		},
		error: function(data)
		{
			window.alert("No notification found!");
		}
	});
}
</script>
</html>